<div class="work" style="color: #3b4097">
  <h3>Active</h3>
  <table>
    <tr>
      <th>
        Agent
      </th>
      <th>
        Data To
      </th>
      <th>
        Data Off
      </th>
      <th>
        Profit
      </th>

    </tr>
    <tr>
      <td>
        Agent
      </td>
      <td>
        Data To
      </td>
      <td>
        Data Off
      </td>
      <td>
        Profit
      </td>
    </tr>

  </table>
</div>


<div class="workOut" style="color: #3b4097">
  <h3>Inactive</h3>
  <table>
    <tr>
      <th>
        Agent
      </th>
      <th>
        Data To
      </th>
      <th>
        Data Off
      </th>
      <th>
        Profit
      </th>

    </tr>
    <tr>
      <td>
        Agent
      </td>
      <td>
        Data To
      </td>
      <td>
        Data Off
      </td>
      <td>
        Profit
      </td>
    </tr>
  </table>
</div>
