<div class="load">
  <h2 style="color: #3b4097">Loads</h2>
</div>

<div class="search" [formGroup] = "load">
  <div class="input-group mb-3">
    <input type="text" formcontrolname="search" class="form-control alert alert-primary" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn  btn-primary " type="button">Button</button>
    </div>
  </div>
</div>
<table style="color: #3b4097">
  <tr>
    <th>
      Data
    </th>
    <th>
      Load ID
    </th>
    <th>
      Customer Name
    </th>
    <th>
      Carrier Name
    </th>
    <th>
      Agent
    </th>
    <th>
      Customer Amount
    </th>
    <th>
      Carrier Amount
    </th>
    <th>
      Profit
    </th>
  </tr>
  <tr>
    <td>
      Data
    </td>
    <td>
      Load ID
    </td>
    <td>
      Customer Name
    </td>
    <td>
      Carrier Name
    </td>
    <td>
      Agent
    </td>
    <td>
      Customer Amount
    </td>
    <td>
      Carrier Amount
    </td>
    <td>
      Profit
    </td>

  </tr>

</table>
