<h3>Insurance</h3>

<form action="" [formGroup]="insurance"  class="form" >
  <input formControlName="insuranceProvider" class="input alert alert-primary" type="text" placeholder="Insurance provider">
  <input formControlName="loadId" class="input alert alert-primary" type="text" placeholder="Load ID" >
  <input formControlName="email" class="input alert alert-primary" type="email" placeholder="E-Mail">
  <input formControlName="doc" id="file" class="apply alert alert-primary" type="file"  placeholder="Insurance document (.pdf one doc)">
  <button class=" applyButton btn btn-primary" [disabled]="!insurance.valid">Apply</button>
</form>
