<div class="payroll">
  <h2 style="color: #3b4097">Payroll</h2>
</div>

<div class="search">
  <form action="" [formGroup]="search">
    <div class="input-group mb-3">
      <input type="text" formControlName="search" class="form-control alert alert-primary" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" [disabled]="!search.valid" type="button">Button</button>
      </div>
    </div>
  </form>
</div>
<table style="color: #3b4097">
  <tr>
    <th>
      Agent
    </th>
    <th>
      Load Count
    </th>
    <th>
      Gross Profit
    </th>
    <th>
      %
    </th>
    <th>
      Previous Credit
    </th>
    <th>
      Previous Charge
    </th>

  </tr>
  <tr>
    <td>
      Agent
    </td>
    <td>
      Load Count
    </td>
    <td>
      Gross Profit
    </td>
    <td>
      %
    </td>
    <td>
      Previous Credit
    </td>
    <td>
      Previous Charges
    </td>

  </tr>

</table>
