<h2 style="color: #3b4097">Add your load</h2>

<div class="add">
  <div class="customer" *ngIf="this.i === 0">
    <h3 style="color: #3b4097">Customer Info</h3>
    <input class="alert alert-primary" type="text" placeholder="Name">
    <input class="alert alert-primary" type="text" placeholder="MC">
    <input class="alert alert-primary" type="text" placeholder="Reference Number">
    <input class="alert alert-primary" type="text" placeholder="Rate">
    <input class="alert alert-primary" type="text" placeholder="Contact">
  </div>
  <div class="carrier" *ngIf="this.i === 1">
    <h3 style="color: #3b4097">Carrier Info</h3>
    <input class="alert alert-primary" type="text" placeholder="Name">
    <input class="alert alert-primary" type="text" placeholder="MC">
    <input class="alert alert-primary" type="text" placeholder="Rate">
    <input class="alert alert-primary" type="text" placeholder="Contact">
  </div>
  <div class="pickUp" *ngIf="this.i === 2">
    <h3 style="color: #3b4097">Pick Up Info</h3>
    <input class="alert alert-primary" type="text" placeholder="Date">
    <input class="alert alert-primary" type="text" placeholder="Time">
    <input class="alert alert-primary" type="text" placeholder="Name">
    <input class="alert alert-primary" type="text" placeholder="Address">
    <input class="alert alert-primary" type="text" placeholder="City">
    <input class="alert alert-primary" type="text" placeholder="Zip">
  </div>
  <div class="delivery" *ngIf="this.i === 3" >
    <h3 style="color: #3b4097">Delivery Info</h3>
    <input class="alert alert-primary" type="text" placeholder="Date">
    <input class="alert alert-primary" type="text" placeholder="Time">
    <input class="alert alert-primary" type="text" placeholder="Name">
    <input class="alert alert-primary" type="text" placeholder="Address">
    <input class="alert alert-primary" type="text" placeholder="City">
    <input class="alert alert-primary" type="text" placeholder="Zip">
  </div>
  <div class="loadInfo" *ngIf="this.i === 4">
    <h3 style="color: #3b4097">Load Info</h3>
    <input class="alert alert-primary" type="text" placeholder="Weight">
    <input class="alert alert-primary" type="text" placeholder="Commodity">
    <input class="alert alert-primary" type="text" placeholder="Type">
    <input class="alert alert-primary" type="text" placeholder="Distance">
  </div>
  <div class="b" *ngIf="this.i === 4">
    <button class="btn btn-primary ">Add New Load</button>
    <button class="btn btn-danger cancel" >Cancel</button>
  </div>

   <div class="pagination">
     <nav aria-label="...">
       <ul class="pagination">
         <li class="page-item" [class.active]="this.i===0">
           <button class="page-link"  (click)="this.i = 0" >1</button>
         </li>
         <li class="page-item" [class.active]="this.i===1">
           <button class="page-link" (click)="this.i = 1">2 </button>
         </li>
         <li class="page-item" [class.active]="this.i===2">
           <button class="page-link" (click)="this.i = 2">3</button>
         </li>

         <li class="page-item" [class.active]="this.i===3">
           <button class="page-link"  (click)="this.i = 3">4</button>
         </li>
         <li class="page-item" [class.active]="this.i===4" >
           <button class="page-link" (click)="this.i = 4">5</button>
         </li>
       </ul>
     </nav>
   </div>

</div>



