<h2 style="color: #3b4097">Add your load</h2>

<div class="add">
  <form action="" [formGroup]="newLoad">


  <div class="customer" *ngIf="this.i === 0" formGroupName="customer">
    <h3 style="color: #3b4097">Customer Info</h3>
    <input class="alert alert-primary" type="text" formControlName="name" placeholder="Name">
    <input class="alert alert-primary" type="text" formControlName="mc" placeholder="MC">
    <input class="alert alert-primary" type="text" formControlName="referenceNumber" placeholder="Reference Number">
    <input class="alert alert-primary" type="text" formControlName="rate" placeholder="Rate">
    <input class="alert alert-primary" type="text" formControlName="contact" placeholder="Contact">
  </div>
  <div class="carrier" *ngIf="this.i === 1" formGroupName="carrier">
    <h3 style="color: #3b4097">Carrier Info</h3>
    <input class="alert alert-primary" type="text" formControlName="name" placeholder="Name">
    <input class="alert alert-primary" type="text" formControlName="mc" placeholder="MC">
    <input class="alert alert-primary" type="text" formControlName="rate" placeholder="Rate">
    <input class="alert alert-primary" type="text" formControlName="contact" placeholder="Contact">
  </div>
  <div class="pickUp" *ngIf="this.i === 2" formGroupName="pickUp">
    <h3 style="color: #3b4097">Pick Up Info</h3>
    <input class="alert alert-primary" type="text" formControlName="date" placeholder="Date">
    <input class="alert alert-primary" type="text" formControlName="time" placeholder="Time">
    <input class="alert alert-primary" type="text" formControlName="name" placeholder="Name">
    <input class="alert alert-primary" type="text" formControlName="address" placeholder="Address">
    <input class="alert alert-primary" type="text" formControlName="city" placeholder="City">
    <input class="alert alert-primary" type="text" formControlName="zip" placeholder="Zip">
  </div>
  <div class="delivery" *ngIf="this.i === 3" formGroupName="delivery">
    <h3 style="color: #3b4097">Delivery Info</h3>
    <input class="alert alert-primary" type="text" formControlName="date" placeholder="Date">
    <input class="alert alert-primary" type="text" formControlName="time" placeholder="Time">
    <input class="alert alert-primary" type="text" formControlName="name" placeholder="Name">
    <input class="alert alert-primary" type="text" formControlName="address" placeholder="Address">
    <input class="alert alert-primary" type="text" formControlName="city" placeholder="City">
    <input class="alert alert-primary" type="text" formControlName="zip" placeholder="Zip">
  </div>
  <div class="loadInfo" *ngIf="this.i === 4" formGroupName="loadInfo">
    <h3 style="color: #3b4097">Load Info</h3>
    <input class="alert alert-primary" type="text" formControlName="weight" placeholder="Weight">
    <input class="alert alert-primary" type="text" formControlName="commodity" placeholder="Commodity">
    <input class="alert alert-primary" type="text" formControlName="type" placeholder="Type">
    <input class="alert alert-primary" type="text" formControlName="distance" placeholder="Distance">
  </div>
  <div class="b" *ngIf="this.i === 4">
    <button class="btn btn-primary" type="submit" [disabled]="!newLoad.valid">Add New Load</button>
    <button class="btn btn-danger cancel">Cancel</button>
  </div>

   <div class="pagination">
     <nav aria-label="...">
       <ul class="pagination">
         <li class="page-item" [class.active]="this.i===0">
           <button class="page-link"  (click)="this.i = 0" >1</button>
         </li>
         <li class="page-item" [class.active]="this.i===1">
           <button class="page-link" (click)="this.i = 1">2 </button>
         </li>
         <li class="page-item" [class.active]="this.i===2">
           <button class="page-link" (click)="this.i = 2">3</button>
         </li>

         <li class="page-item" [class.active]="this.i===3">
           <button class="page-link"  (click)="this.i = 3">4</button>
         </li>
         <li class="page-item" [class.active]="this.i===4" >
           <button class="page-link" (click)="this.i = 4">5</button>
         </li>
       </ul>
     </nav>
   </div>
  </form>
</div>



