
*{
  margin: 0;
  padding: 10px;
  text-align: center;
}
.add {
  overflow: hidden;
}
.add > form > div {
  margin: auto;
  width: 800px;

}

.add> form > div > input {
  display: block;
  width: 80%;
  border: none;
  border-bottom: 2px solid grey;
  margin: auto;
  margin-top: 10px;
}

.b {
  position: fixed;
  right: 3%;
  text-align: right;
  padding-top: 25px;
}

.cancel {
  margin-left: 10px;
}

.pagination {
  position: fixed;
  bottom: 20px;
  right: 3%;
}


