
<div class="all">
  <div class="agents" [ngClass]="this.i">
    <button class="btn btn-primary "  (click)="cancelAdd()">Add Agent</button>
    <table style="color: #3b4097">
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>E-Mail</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>E-Mail</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>E-Mail</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>E-Mail</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </table>
  </div>








  <form action="" [formGroup] = "addAgent">
  <div  class="add"  [ngClass]="this.p">
      <h3 style="color: #3b4097">Add Agent</h3>
      <input class="alert alert-primary" type="text" placeholder="Name" formcontrolname="name">
      <input class="alert alert-primary" type="text" placeholder="Surname" formcontrolname="surname">
      <input class="alert alert-primary" type="email" placeholder="E-Mail" formcontrolname="email">
      <input class="alert alert-primary" type="password" placeholder="Password" formcontrolname="password">
<!--      <input class="alert alert-primary" type="password" placeholder="Password" formcontrolname="password1">-->
      <button class="btn btn-primary" (click)="cancelAdd()">Add</button>
      <button class="btn btn-danger" (click)="cancelAdd()">Cancel</button>
    </div>
  </form>

</div>
