<div class=" login ">
  <div class="log0">
    <h2 style="color: #3b4097">Log In</h2>
    <form action="" [formGroup]="logIn">
      <input formControlName="email" class="alert alert-primary" type="email" placeholder="E-Mail">
      <input formControlName="password" class="alert alert-primary" type="password" placeholder="Password">
      <button class="btn btn-primary "  [disabled]="!logIn.valid" (click)="LogIn(logIn)"  type="submit" routerLink="my-page" >Log In</button>
    </form>
  </div>
</div>
